@mixin -alerts($colors-scheme, $flash-messages) {
  @each $color, $value in $colors-scheme {
    $item-bg: nth($value, 1);
    $item-border: nth($value, 2);
    $item-color: nth($value, 3);

    @if $flash-messages {
      .flash-messages {
        .alert-#{$color} {
          @include alert-variant($item-bg, $item-border, $item-color);
        }
      }
    }
    @else {
      .alert-#{$color} {
        @include alert-variant($item-bg, $item-border, $item-color);
      }
    }
  }
}
