.btn {
  border: none;
  border-radius: 0.2rem;
  font-family: $ts-font-family-secondary;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  @include -breakpoint(md, down) {
    font-size: 1.7rem;
    //padding: 1.2rem 4rem;  //negalima taikyti visiem buttonams be isimties
  }
  &:focus{
    box-shadow: none;
  }
  transition: $ts-transition-default;
}

.btn-primary {
  background: $c19;
  &:not(.btn--flat):focus,
  &:not(.btn--flat):hover {
    opacity: 0.85;
    box-shadow: none;
    color: $c1;
  }
}

.btn-secondary {
  background: $c2;
  color: $c18;
  &:not(.btn--flat):focus,
  &:not(.btn--flat):hover {
    background: $c2;
    opacity: 0.85;
    box-shadow: none;
    color: $c18;
  }
}

.btn-light {
  background-color: $c18;
  &:focus,
  &:hover {
    background-color: darken($c18, 5%);
  }
}

.btn-sm {
  font-size: 1.4rem;
  @include -breakpoint(sm, down) {
    font-size: 1.2rem;
    padding: 0.7rem 2.5rem;
    &.btn-block {
      padding-right: $ts-spacer / 2;
      padding-left: $ts-spacer / 2;
    }
  }
}

.btn-xs {
  padding: 0.4rem $ts-spacer * 0.75;
  font-size: 1.3rem;
}

.btn-block {
  padding-right: $ts-spacer;
  padding-left: $ts-spacer;
}

.btn--flat {
  &.btn-primary {
    background: $c3;
    &:focus,
    &:hover {
      background: darken($c3, 5%);
    }
  }
}

.btn--shadow {
  &.btn-primary {
    box-shadow: 0 1px 0 0 #000000, 0 -1px 0 0 #4D9FD1;
  }
  &.btn-secondary {
    box-shadow: 0 1px 0 0 #000000, 0 -1px 0 0 #44484c;
  }
}

.btn-narrow {
  padding-right: $ts-spacer;
  padding-left: $ts-spacer;
}

.btn--header {
  min-width: 16rem;
  padding: 0.9rem 2rem;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  @include -breakpoint(md, down) {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-family: $ts-font-family-primary;
    font-size: 1.1rem;
    box-shadow: none !important;
  }
  @include -breakpoint(sm, down) {
    min-width: 14rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    white-space: normal;
  }
  &.btn-secondary {
    background: #2f3338;
    color: rgba($c1, 0.2);
    &:focus,
    &:hover {
      color: rgba($c1, 0.5);
    }
  }
}

.btn-group {
  .btn {
    &:first-child {
      border-radius: 0.2rem 0 0 0.2rem;
    }
    &:last-of-type {
      border-radius: 0 0.2rem 0.2rem 0 !important;
    }
  }
}

.btn-group--switch {
  border: 1px solid $c3;
  border-radius: 0.3rem;
  .btn {
    padding: 0.5rem 3.5rem;
    text-transform: none;
  }
  @include -breakpoint(sm, down) {
    .btn {
      flex: 1 1 50%;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }
  }
}

.btn-outline-primary {
  border: 2px solid $c15;
  &:focus,
  &:hover {
    box-shadow: none;
  }
}

.btn-outline-light {
  background-color: transparent;
  border: 2px solid $c38;
  color: $c1;
  &:focus,
  &:hover {
    background-color: $c38;
    color: $c1;
  }
}

.btn--cashout,
.btn--bet-more {
  display: inline-block;
  min-width: 12rem;
  border: 2px solid $c9;
  border-radius: 2rem;
  color: $c5;
  text-align: center;

  &:hover, &:active, &:focus {
    border: 2px solid $c3;
    color: $c3;
    text-decoration: none;
  }
  @include -breakpoint(sm, down) {
    margin-bottom: 1rem;
  }

}

.btn--acc-filter {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  background: $c18;
  color: $c5;
  text-align: center;
  box-shadow: inset 0px -1px 0px 0px $c9;
  @include -breakpoint(xl, down) {
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
  }
  &:hover, &:active, &:focus {
    opacity: 0.9;
    background: $c19;
    color: $c1;
    box-shadow: none;
    transition: color 0s;
  }
}
.btn--bonus{
  padding: 1rem 3rem;
  font-size: 1.6rem;
  @include -breakpoint(xl, down) {
    font-size: 1.4rem;
    padding: 1rem 3rem;
  }
}

.btn--product-buy {
  font-family: $ts-font-family-secondary;
  color: $c1;
  text-transform: uppercase;
  background: $c23;
  border-top: 1px;
  border-radius: 2px;
  padding: 0.9rem;
  width: 100%;
  max-width: 20rem;
  border-top: 1px solid $c25;
  &:disabled {
    opacity: 0.5;
    background: $c2;
    cursor: not-allowed;
  }
  &:hover, &:focus, &:active {
    color: $c1;
    opacity: 0.8;
  }
  &:active {
    background: $c3;
    border-color: $c4;
  }
}

.btn--promotions{
  @include -breakpoint(md, down) {
    font-size: 1.6rem;
    padding: 1.2rem 4.5rem;
  }
}
